<title>Edit Product</title>
<style>
  span{ color: red; }
</style>
<div class="main-content">
  <h2>Update Product</h2>
  <hr />
  <div class="content">
    <form
      action="/products/{{product._id}}?_method=PUT"
      method="POST"
      enctype="multipart/form-data"
    >
      <div>
        <label for="product-name">Product Name <span>*</span></label><br />
        <input
          type="text"
          id="product-name"
          name="product_name"
          placeholder="Product name"
          value="{{product.product_name}}"
        />
      </div>
      <div>
        <label for="product-description">Product Description<span
          >*</span></label><br />
        <textarea
          name="product_description"
          id="product-description"
        >{{product.product_description}}</textarea>
      </div>
      <div>
        <label for="price">Price<span>*</span></label><br />
        <input
          id="price"
          value="{{product.product_price}}"
          type="number"
          name="product_price"
          placeholder="Enter price"
        />
      </div>
      <div id="">
        <label for="">Product Image<span>*</span></label>
        <input
          type="file"
          id="upload"
          name="product_image"
          style="padding: 20px;"
          class="form-control"
        />
      </div>

      <div>
        <label for="product-name">Product Category<span>*</span></label><br />
        <select name="product_category" id="product-category">
          {{#select product.product_category}}
            <option value="">select category</option>
            <option value="phones & accessories">phones & accessories</option>
            <option value="fashion">fashion</option>
            <option value="electronics">electronics</option>
            <option value="computing">computing</option>
            <option value="groceries">groceries</option>
            <option value="health & beauty">health & beauty</option>
          {{/select}}
        </select>

      </div>
      <div>
        <label for="price">Quantity<span>*</span></label><br />
        <input
          id="quantity"
          value="{{product.quantity}}"
          type="number"
          name="quantity"
          placeholder="Enter available quantity"
        />
      </div>
      <div class="row">
        <div class="col-md-6">

          <input
            class="button"
            id="submit"
            type="submit"
            value="Save changes"
          />
        </div>
        <div class="col-md-6">
          <a class="btn btn-danger px-5 py-2" href="/dashboard">Cancel
            <i class="fas fa-multiply"></i></a>

        </div>

      </div>
    </form>
  </div>
</div>
